body {
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.822);
    margin-left: 10%;
    margin-right: 10%;
}

p{
    font-size: 1.2rem;
    background-color: rgba(0, 0, 0, 0.452);
    border-radius: 8px;
    padding: 1px;
}

img {
    max-width: 80%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}